### HARDWARE ###

DEVICE_OUTPUT="single"
DEVICE_IFACE="enp3s0"
DEVICE_AUX_IFACE="enp2s0"

DEVICE_IFACE_PWM=false
DEVICE_AUX_PWM=false

### ENVIRONMENT ###

LOCALE="Australia/Brisbane"
ASSET_PATH="~/ledlight-assets/live"

### DISPLAY ###

DISPLAY_WIDTH=32
DISPLAY_HEIGHT=32
FRAME_RATE=60
DAY_START="6:00"
DAY_END="18:00"
BRIGHTNESS_DAY=80
BRIGHTNESS_NIGHT=20

### AUXILIARY OUTPUT MASK ###

SUBMASK_WIDTH=16
SUBMASK_HEIGHT=16
SUBMASK_POS_X=0
SUBMASK_POS_Y=0
SUBMASK_MULTIPLIER="1"

### PLAYBACK ###

DEFAULT_SLIDE="~/ledlight-assets/default.png"
SLIDE_DURATION=8
